{% extends "shared/base.html" %}


{% block title %}
<title>Job Board</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-5">Find Jobs...</h1>
    <p>
        {{request.headers}}
    </p>
    <div class="mb-3">
      <label for="" class="form-label">Email</label>
      <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
      <small id="emailHelpId" class="form-text text-muted">Help text</small>
    </div>
    <img src="{{ url_for('static', path='images/img1.jpg') }}" alt="" width="300" height="240">
    <img src="{{ url_for('static', path='images/img2.jpg') }}" alt="" width="300" height="240">
    <img src="{{ url_for('static', path='images/img3.jpg') }}" alt="" width="300" height="240">
    <img src="{{ url_for('static', path='images/img4.jpg') }}" alt="" width="300" height="240">
    <img src="{{ url_for('static', path='images/img5.jpg') }}" alt="" width="300" height="240">
</div>
{% endblock %}